<div class="flx-container">
    <div class="text-center my-5 mt-5">
        <div class="translate">
            <h1 class="home-title" style="margin-left: 32px;">ABOUT</h1>
            <div class="arrow-box" id="arrow-box">
                  <%= image_tag 'arrow.svg', alt: "Image of navigation arrow." %>
            </div>
        </div>
    </div>
</div>
<div class="container-page">
<hr>
    <div>
   <h2 class="about-h2">Advertising is like baking a cake.</h2>
    </div>
    <div class="about-section">
      <div class="flex-end">
        <%= image_tag 'cake.svg' %>
      </div>
      <div>
        <p>A cake can often look good when you add icing, sprinkles and a cherry on top.</p>
        <p>Likewise, we can often spruce up an ad with expensive video testimonials, glossy images and stunning vector graphics.</p>
      </div>
    </div>
    <div class="about-section">
      <div class="flex-start">
        <p>But without the foundations to match, neither your ad (or cake) are likely to hold together.</p>
      </div>
      <div>
        <%= image_tag 'flour.svg' %>
      </div>
    </div>
    <div class="about-section">
      <div>
        <%= image_tag "copywriting.svg" %>
      </div>
      <div class="flex-start">
        <p>That's where I come in. As a creative copywriter, I can help you build the perfect ad.</p>
        <p>Whether it's a Facebook post, a email newsletter or words to help your landing page, you'll get top-quality writing for reasonable prices.</p>
        <p><%=link_to "Check out my portfolio for some examples!", "/portfolio#portfolio-examples" %></p>
      </div>
    </div>
    <div class="about-section">
        <div id="flex-start">
        
        </div>
    </div>
</div>
