<div class="flx-container">
  <div class="text-center my-5 mt-5">
    <div class="translate">
      <h1 class="home-title">Contact</h1>
      <p>Want to get in touch? <%= link_to "Send me an email", "mailto:info@antshaw.com" %>, <%= link_to "give me a ring", "tel:+447548241732" %> or hit me up on the socials:</p>
        <footer class="footer">
           <div class="container">
              <div class="footer">
                 <div class="footer-links">
                    <%= link_to 'https://www.instagram.com/antjjshaw', target: '_blank', rel:'noopener', id: "instagram-footer-link" do %>
                      <i class="fab fa-instagram"></i>
                    <% end %>
                    <%= link_to 'https://www.facebook.com/people/Anthony-Shaw/100011464090877/', target: '_blank', rel:'noopener', id: "facebook-footer-link" do %>
                      <i class="fab fa-facebook"></i>
                    <% end %>
                    <%= link_to 'https://www.twitter.com/anthonyjshaw', target: '_blank', rel:'noopener', id: "twitter-footer-link" do %>
                      <i class="fab fa-twitter"></i>
                    <% end %>
                    <%= link_to 'https://www.linkedin.com/in/anthonyjjshaw', target: '_blank', rel:'noopener', id: "linkedin-footer-link" do %>
                      <i class="fab fa-linkedin"></i>
                    <% end %>
                 </div>
              </div>
          </div>
      </footer>
    </div>
  </div>
</div>
<div id="contact"><br></div>
  <div id="contact-container" class="section">
  </div>
</div>



