
<div class="flx-container">
  <div class="text-center my-5 mt-5">
    <div class='translate translate-mobile'>
      <h1 class='home-title'>Anthony Shaw</h1>
      <%# <%= image_tag "antshawlogo.svg", class: "logo" %>
        <h2>Creative Copywriter</h2>
      <%# <h3>Want more from your copy? Put Shaw on your copy.</h3> %>
    </div>
<div class="circle-container translate">
  <%= link_to "about" do %>
    <div class="circle-logo">About</div>
  <% end %>
  <%= link_to portfolio_path do %>
    <div class="circle-logo">Portfolio</div>
  <% end %>
   <!--
    <%= link_to "blog" do %>
  <div class="circle-logo">Blog</div>
   <% end %>
   --->
  <%= link_to "contact" do %>
    <div class="circle-logo">Contact</div>
  <% end %>
</div>
</div>
</div>