<div class="flx-container">
  <div class="text-center my-5 mt-5">
    <div class="translate translate-mobile">
      <h1 class="home-title">Portfolio</h1>
      <p>Ad copy, landing pages, newsletters and more.</p>
    </div>
  </div>
</div>
<div class="container-page">
<hr>

<div class="project-header">
  <h2 id='projects-header'>Ad Copy</h2>
  <h3>Ads make the world go round.</h3> 
  <p>With one of my carefully constructed email newsletters, you'll find customers in no time.</p>
</div>
  <% @email_newsletters.each do |newsletter| %>
  <div class="project-section">
    <h3 class='header middle'>
      <%= link_to "#{newsletter[:link]}", "/#", target: '_blank', rel: 'noopener'%>
    </h3>
    <div class="project-container">
    <%= link_to "#{newsletter[:link]}", target: '_blank', rel:'noopener' do %> 
          
    <% end %>
      <%= sanitize newsletter[:description] %>
    </div>
  </div>
  <% end %>

<hr>
<div class='project-header'>
  <h2 id='projects-header'>Web</h2>
  <h3>Landing pages.</h3>
  <p>I produce content for websites that maximises sales and improves SEO rankings.</p>
</div>
  <div class="project-grid">
  <% @websites.each do |website| %>
  <div class="project-section">
    <h3 class='<%= website[:class_name].downcase %> header middle'>
      <%= link_to "#{website[:name]}", "#{website[:link]}", target: '_blank', rel: 'noopener'%>
    </h3>
    <div class="project-container">
    <%= link_to "#{website[:link]}", target: '_blank', rel:'noopener' do %> 
          <%= image_tag website[:image_link], class: "project-image" %>
    <% end %>
      <%= sanitize website[:description] %>
    </div>
  </div>
  <% end %>
  </div>
<hr>

<div class="project-header">
  <h2 id='projects-header'>Email Newsletters</h2>
  <h3>Looking for that sweet audience retention?</h3> 
  <p>With one of my carefully constructed email newsletters, you'll find customers in no time.</p>
</div>
  <% @email_newsletters.each do |newsletter| %>
  <div class="project-section">
    <h3 class='header middle'>
      <%= link_to "#{newsletter[:link]}", "/#", target: '_blank', rel: 'noopener'%>
    </h3>
    <div class="project-container">
    <%= link_to "#{newsletter[:link]}", target: '_blank', rel:'noopener' do %> 
          
    <% end %>
      <%= sanitize newsletter[:description] %>
    </div>
  </div>
  <% end %>

<hr>

<div class='project-header'>
  <h2 id='projects-header'>Blogs and Articles</h2>
  <p>I produce blogs and articles on improving your SEO output.</p>
</div>
  <% @blogs_and_articles.each do |article| %>
  <div class="project-section">
    <h3 class='header middle'>
      <%= link_to "Test", "/#", target: '_blank', rel: 'noopener'%>
    </h3>
    <div class="project-container">
    <%= link_to "#{article[:link]}", target: '_blank', rel:'noopener' do %> 
          
    <% end %>
      <%= sanitize article[:description] %>
    </div>
  </div>
  <% end %>
<hr>