<!DOCTYPE html>
<html lang='en'>
   <head>
      <title><%= meta_title %></title>
</script>

      <meta name="description" content="<%= meta_description %>">
      <!-- Facebook Open Graph data -->
      <meta property="og:title" content="<%= meta_title %>" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="<%= request.original_url %>" />
      <meta property="og:image" content="<%= meta_image %>" />
      <meta property="og:description" content="<%= meta_description %>" />
      <meta property="og:site_name" content="<%= meta_title %>" />
      <!-- Twitter Card data -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
      <meta name="twitter:title" content="<%= meta_title %>">
      <meta name="twitter:description" content="<%= meta_description %>">
      <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
      <meta name="twitter:image:src" content="<%= meta_image %>">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= favicon_link_tag %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
   </head>
   <body>
      <nav class="navbar nav-transparent fixed-top">
         <div style="display:flex;flex-direction:column;">
            <%= link_to (image_tag "antshawlogo.svg", class: "logo", alt: "Image of Ant Shaw logo. All rights reserved."), '/', class: "nav-link", aria_label: "Click to return to the home page.", rel: "noopener" %>
         <%# <div style="background:black;height:1px;width:10px;"></div> %>
         </div>
         <div>
            <%= link_to "About", 'about', class:"nav-link", rel:'noopener' %>
         </div>
         <div>
            <%= link_to "Portfolio", 'portfolio', class:"nav-link text-center", rel:'noopener' %>
         </div>
         <div>
            <%= link_to "Contact", 'contact', class:"nav-link", rel:'noopener' %>
         </div>
         <!---<%= link_to "Blog", 'blog', class:"nav-link", rel:'noopener' %>--->
      </nav>
      <div class="flex-wrapper">
        <%= yield %>
        <%# <div class='arrow-box' id="arrow-box">
            <svg width="50" height="22" viewBox="0 0 50 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow" id="navigation-arrow">
               <line x1="1.40578" y1="2.93268" x2="26.4058" y2="19.9327" stroke="black" stroke-width="5"/>
               <line y1="-2.5" x2="30.2324" y2="-2.5" transform="matrix(-0.826927 0.56231 0.56231 0.826927 50 5)" stroke="black" stroke-width="5"/>
            </svg>
        </div> %>
      </div>
   </body>
</html>
